@using GamesBucket.Shared.Helpers
@model PagedResult<GamesBucket.DataAccess.Models.Dtos.SearchResult>
@{
	ViewData["Title"] = "Search";
}

<!-- page title -->
<section class="section section--first section--last section--head" data-bg="/img/bg.jpg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section__wrap">
					<!-- section title -->
					<h2 class="section__title">Search Results <span>(@Model.Results.Count games)</span></h2>
					<!-- end section title -->

					<!-- breadcrumb -->
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a asp-controller="Catalog" asp-action="Index">Catalog</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Search</li>
					</ul>
					<!-- end breadcrumb -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- section -->
<section class="section section--last section--catalog">
	<div class="container">
		@if (Model.Results.Any())
        {
	    <div class="row">
			<div class="col-12">
				<div class="sort">

					<div class="filter__group filter__group--sort catalog-search-filters">
						<label for="sort-release-date" class="filter__label">Date</label>
						<div class="filter__select-wrap">
							<select onchange="document.querySelector('#sort-beat-time').value = 0" name="sort-release-date" id="sort-release-date" class="filter__select">
								<option value="0">None</option>
								<option value="1">Newest</option>
								<option value="2">Oldest</option>
							</select>
						</div>
					</div>

					<div class="filter__group filter__group--sort catalog-search-filters">
						<label for="sort-beat-time" class="filter__label">Time</label>                    
						<div class="filter__select-wrap">
							<select onchange="document.querySelector('#sort-release-date').value = 0" name="sort-beat-time" id="sort-beat-time" class="filter__select">
								<option value="0">None</option>
								<option value="1">Longest</option>
								<option value="2">Shortest</option>
							</select>
						</div>
					</div>
					
					<div class="filter__group filter__group--sort catalog-search-filters">
						<label for="page-size" class="filter__label" style="width: 80%">Page Size</label>
						<div class="filter__select-wrap">
							<select name="page-size" id="page-size" class="filter__select"
							        onchange="filterGamesSearch()">
								<option value="15">15</option>
								<option value="30">30</option>
								<option value="45">45</option>
								<option value="60">60</option>
							</select>
						</div>
					</div>
					
					<div class="filter__group btn">
						<button class="filter__btn" type="button" onclick="filterGamesSearch()">APPLY FILTER</button>
					</div>
					
				</div>
			</div>
		</div>

		<!-- catalog -->
		<div class="row category" id="result-container">
			<partial name="_CardsSearchContainerPartial" model="Model"/>
		</div><!-- end catalog -->
	        
        <!-- floating action button -->
        <ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
	        <li class="mfb-component__wrap">
		        <a href="#" class="mfb-component__button--main">
			        <i class="mfb-component__main-icon--resting fa fa-ellipsis-h"></i>
			        <i class="mfb-component__main-icon--active fa fa-ellipsis-h"></i>
		        </a>
		        <ul class="mfb-component__list">
			        <li>
				        <a asp-controller="Home" asp-action="New" data-mfb-label="Add New" target="_blank" class="mfb-component__button--child">
					        <i class="mfb-component__child-icon fa fa-plus"></i>
				        </a>
			        </li>
		        </ul>
	        </li>
        </ul>    
        }
		else
		{
			<div class="row mt-5">
				<div class="col-md-12 mt-5 d-flex justify-content-center">
					<i class="fa fa-search not-found-icon" aria-hidden="true"></i>
					<span class="not-found-text">No Results</span>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-3">
					<a class="sign__btn" asp-controller="Home" asp-action="New">Add New</a>
				</div>
			</div>
		}
	</div>
</section>
<!-- end section -->