# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GamesBucket.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\GITHUB Projects\GamesBucket\.idea\.idea.GamesBucket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
