@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<!-- section -->
<section class="section section--first section--bg" data-bg="img/bg.jpg">
	<div class="container">
		<!-- article -->
		<div class="article">
			<div class="row">
				<div class="col-12">
					<!-- article content -->
					<div class="article__content article__content--page">
						<img src="img/posts/about.jpg" style="filter: opacity(0.5);" alt="" asp-append-version="true">

						<h1>About GamesBucket</h1>

						<p>GamesBucket is a simple project that tries to give gamers an application where they can keep track of, not only the games they own but those they intend to own and or play</p>

						<p>This could be a very useful tool for those that have a long list of games, others than just the ones they own but also those they have in their wish list (hence the name of the platform). This application has been built taking into consideration the need to keep not only a simple list of games, but also a complete solution for storing, organizing and filtering games</p>

						<blockquote>I'm the hero of a thousand stories. I'm a superhero, an assassin a soldier. I've slain dragons and traveled through portals. I am a spartan, a commander. A king. I've saved a thousand worlds and countless more lives. What am I? I'm a gamer.</blockquote>

						<p>With GamesBucket you have the ability to:</p>

						<ul>
							<li>Keep a custom list of games</li>
							<li>Have direct access to game metrics like: completion time, scores, etc</li>
							<li>Have a list of favorites and completed games</li>
							<li>Have a summary of the number of games, playtime hours in your list</li>
							<li>Use custom criterias to filter the game catalog</li>
							<li>Much more... :)</li>
						</ul>

						<h1>GamesBucket Dev</h1>
						<p>This project was developed by: Yuniet Piloto</p>
						<p>Email: <a  href="mailto:yunietps@gmail.com">yunietps@gmail.com</a></p>
						<p>GitHub: <a href="https://github.com/ThunderCls">https://github.com/ThunderCls</a></p>
						<p>LinkedIn: <a href="https://www.linkedin.com/in/yuniet-piloto-saavedra">https://www.linkedin.com/in/yuniet-piloto-saavedra</a></p>
						<br>
						
						<h1 class="mb-0">Technologies Used</h1>
						<!-- section -->
                        <div class="section section--last pt-5">
                        	<div class="container">
                        		<div class="row">
                        			<div class="col-12">
	                                    <div class="partners owl-carousel">
		                                    <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" class="partners__img">
			                                    <img src="img/technologies/csharp.png" alt="">
		                                    </a>
		                                    
		                                    <a href="https://dotnet.microsoft.com/en-us/download/dotnet/5.0" class="partners__img">
			                                    <img src="img/technologies/netcore.png" alt="">
		                                    </a>

		                                    <a href="https://docs.microsoft.com/en-us/ef/core/" class="partners__img">
			                                    <img src="img/technologies/efcore.png" alt="">
		                                    </a>

		                                    <a href="https://www.microsoft.com/en-us/sql-server/sql-server-downloads" class="partners__img">
			                                    <img src="img/technologies/sqlserver.png" alt="">
		                                    </a>

		                                    <a href="#" class="partners__img">
			                                    <img src="img/technologies/web5.png" alt="">
		                                    </a>

		                                    <a href="https://jquery.com/" class="partners__img">
			                                    <img src="img/technologies/jquery.png" alt="">
		                                    </a>

		                                    <a href="https://nunit.org/" class="partners__img">
			                                    <img src="img/technologies/nunit.png" alt="">
		                                    </a>

		                                    <a href="https://store.steampowered.com/" class="partners__img">
			                                    <img src="img/technologies/steam.png" alt="">
		                                    </a>

		                                    <a href="https://howlongtobeat.com/" class="partners__img">
			                                    <img src="img/technologies/hltb.png" alt="">
		                                    </a>
	                                    </div>
                        			</div>
                        		</div>
                        	</div>
                        </div>
                        <!-- end section -->
					</div>
					<!-- end article content -->
				</div>
			</div>
		</div>
		<!-- end article -->
	</div>
</section>
<!-- end section -->