@model GamesBucket.App.Models.MainSummary

@{
    ViewData["Title"] = "Home Page";
}

<!-- home -->
<section class="section section--bg section--first" style="background: url(img/bg.jpg) center top 140px / auto 750px no-repeat;">
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-md-12 mb-5 mt-5 p-2" style="text-align: center;">
                <span class="section__title--title title-text">Game </span>
                <span class="section__title--title title-text-secondary">Bucket</span>
            </div>				
            <!-- end title -->
        </div>
        <div class="row mb-5 mt-5" style="text-align: center;">
            <div class="col-md-4 text-white mb-5">
                <div id="countup" class="text-bignumber">@Model.TotalGames</div>
                <div class="text-numbers-desc">Games Saved</div>					
            </div>
            <div class="col-md-4 text-white mb-5">
                <div id="countup" class="text-bignumber">@Model.TotalHours</div>
                <div class="text-numbers-desc">Hours to play</div>					
            </div>
            <div class="col-md-4 text-white mb-5">
                <div id="countup" class="text-bignumber">@Model.TotalHoursPlayed</div>
                <div class="text-numbers-desc">Hours played</div>					
            </div>
        </div>

        <div class="row mt-5 mb-5" style="text-align: center;">
            <div class="col-md-2 offset-md-5 mt-5 mb-2">
                <button type="button" class="sign__btn">View Catalog</button>
            </div>
        </div>
    </div>		
</section>
<!-- end home -->	