@using GamesBucket.Shared.Helpers
@model PagedResult<GamesBucket.DataAccess.Models.Dtos.SearchResult>
@{
	ViewData["Title"] = "title";
}

<!-- page title -->
<section class="section section--first section--last section--head" data-bg="/img/bg.jpg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section__wrap">
					<!-- section title -->
					<h2 class="section__title">Search Results <span>(@Model.RowCount games)</span></h2>
					<!-- end section title -->

					<!-- breadcrumb -->
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a asp-controller="Home" asp-action="Index">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Search</li>
					</ul>
					<!-- end breadcrumb -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- section -->
<section class="section section--last section--catalog">
	<div class="container">
		@if (Model.Results.Any())
        {
	    <div class="row">
			<div class="col-12">
				<div class="sort">
					
					<form asp-controller="Home" asp-action="Search" method="get" class="home-search">
						<div class="filter__group filter__group--sort">
						
							<label for="keywords" class="filter__label">Search</label>
							<div class="filter__select-wrap filter__group--sort filter-query">
								<input name="query" id="keywords" type="text" class="filter__input" placeholder="Search game...">
							</div>
							<div class="filter__select-wrap filter__group--sort btn">
								<button class="filter__btn">SEARCH</button>
							</div>

						</div>
					</form>

					<div class="filter__group filter__group--sort">
						<label for="page-size" class="filter__label">Page Size</label>
						<div class="filter__select-wrap">
							<select name="page-size" id="page-size" class="filter__select"
							        onchange="filterGamesHomeSearch()">
								<option value="15">15</option>
								<option value="30">30</option>
								<option value="45">45</option>
								<option value="60">60</option>
							</select>
						</div>
					</div>

					<div class="sort__results">Found @Model.RowCount games</div>
					
				</div>
			</div>
		</div>

		<!-- catalog -->
		<div class="row category" id="result-container">
			<partial name="_CardsHomeSearchContainerPartial" model="Model"/>
		</div><!-- end catalog -->
		                       
        <!-- floating action button -->
        <ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
	        <li class="mfb-component__wrap">
		        <a href="#" class="mfb-component__button--main">
			        <i class="mfb-component__main-icon--resting fa fa-ellipsis-h"></i>
			        <i class="mfb-component__main-icon--active fa fa-ellipsis-h"></i>
		        </a>
		        <ul class="mfb-component__list">
			        <li>
				        <a asp-controller="Catalog" asp-action="Custom" data-mfb-label="Add Custom" target="_blank" class="mfb-component__button--child">
					        <i class="mfb-component__child-icon fa fa-plus"></i>
				        </a>
			        </li>
		        </ul>
	        </li>
        </ul>    
        }
		else
		{
			<div class="row mt-5">
				<div class="col-md-12 mt-5 d-flex justify-content-center">
					<i class="fa fa-search not-found-icon" aria-hidden="true"></i>
					<span class="not-found-text">No Results</span>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-3">
					<a class="sign__btn" asp-controller="Catalog" asp-action="Custom">Add Custom</a>
				</div>
			</div>
		}
	</div>
</section>
<!-- end section -->