@model GamesBucket.App.Models.PaginatorViewModel

@if (Model.RowCount > 0)
{
    <!-- paginator -->
    <div class="col-12">
        <div class="paginator">
            <div class="paginator__counter">
                @{
                    var addedChunk = (Model.PageSize * (Model.CurrentPage - 1)) + Model.ResultsCount; 
                }
                @addedChunk from @Model.RowCount
            </div>

            <ul class="paginator__wrap">
                @if (Model.HasPreviousPage)
                {
                    <li class="paginator__item paginator__item--prev">
                        @{ var prev = Model.CurrentPage == 1 ? 1 : Model.CurrentPage - 1; }
                        <a href="#" onclick="getGamesPage(@prev)">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='244 400 100 256 244 112' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/><line x1='120' y1='256' x2='412' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg>
                        </a>
                    </li>
                				
                }

                @if (Model.HasNextPage)
                {
                    <li class="paginator__item paginator__item--next">
                        @{ var next = Model.CurrentPage + 1; }
                        <a href="#" onclick="getGamesPage(@next)">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='268 112 412 256 268 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/><line x1='392' y1='256' x2='100' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- end paginator -->	
}