.title-text{
    color: whitesmoke;
    font-size: 4rem;    
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.title-text-secondary{
    color: #a782e9;
    font-size: 4rem;    
    text-align: center;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}

.text-bignumber{
    color: whitesmoke;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
}

.text-numbers-desc{
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.section--bg:before{
    height: 800px !important;
}

.footer{
    border-top: none !important;
}

.header-actions-right{
    justify-content: flex-end !important;
}

.header-input-larger{
    width: calc(100% - 50px);
}

.header__form:before{
    display: none;
}

.buy-button-large{
    width: 100% !important;    
}

.platform-search-card{
    position: unset !important;
}

li.lx{
    background-color: #e91e63ed;
}

.not-found-icon {
    font-size: xx-large;
    color: white;
    flex-flow: column;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;    
}

.not-found-text {
    flex-flow: column;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    padding: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 28px;
    line-height: 110%;
    margin-bottom: 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.notice-text {
    flex-flow: column;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    padding: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 375px){
    .card--catalog .card__cover {
        width: 100%;
    }

    .details__buy{
        margin-bottom: 15px;
    }
}

.details__actions{
    margin-top: 0 !important;
}

@media (max-width: 760px){
    .details-top-cover{
        /*position: revert !important;*/
        padding-top: 0 !important;
    }
    .game-info-details {
        width: 100%;
        margin: 10px;
    }
    .game-data-container{
        justify-content: space-around;
    }
}

@media (min-width: 992px) {
    .filter__group--sort {
        margin-right: 2% !important;
    }
    .sort__results{
        display: none;
    }
}

@media (min-width: 1200px) {
    .game-details-text{
        height: 250px !important;
    }
    .sort__results{
        display: block;
    }
}

@media (min-width: 1366px) {
    .filter__group--sort {
        margin-right: 6% !important;
    }
    .game-details-text {
        height: 300px !important;
    }
}

@media (min-width: 580px){
    .details__cover {
        width: 80%;
        margin: 0 10% 10%;
    }
}

@media (min-width: 768px){
    .details__cover {
        width: 40%;
        margin: 0 20px 0 0;
    }
    .game-info-details {
        width: 40%;
        margin: 10px;
    }
    .details__cart {
        height: 300px;
    }
    /*.game-details-text{*/
    /*    height: 170px !important;*/
    /*}*/
}

.game-details-text {
    color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 170px;
    margin-top: 20px;
    padding-right: 20px;
}

.score-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.game-beat-time {
    width: 100%;
    padding: 10px 0 20px 0;
}

/*.details__cart {*/
/*    height: 370px;*/
/*}*/

.beat-value {
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

span.beat-type {
    color: white;
}

.beat-value .normal {
    color: #29b474;
}

.beat-value .extra {
    color: #a782e9;
}

.beat-value .complete {
    color: #ff5722d4;
}

.game-score {
    width: 100%;
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    line-height: 100%;
    display: block;
}

.game-score-title {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.4px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    color: #dbdada;
}

.web-score {
    padding: 10px;
    text-align: center;
}

.details-cover-bg {
    width: 100%;
    height: 100%;
    position: initial;
    z-index: 2;
    -webkit-filter: blur(20px) brightness(0.8);
    -moz-filter: blur(20px) brightness(0.8);
    -o-filter: blur(20px) brightness(0.8);
    -ms-filter: blur(20px);
    filter: blur(20px) brightness(0.8);
}

.details-top-cover {
    width: 100%;
    position: absolute;
    z-index: 1;
    padding-top: 50%;
}

.details-cover-box {
    width: 100%;
    height: 100%;
    position: initial;
    z-index: 2;
}

.details-header-info{
    font-weight: bold !important;
    color: #9c8bba !important;
}

.section-details-bg:before {
    height: 100% !important;
    background: -webkit-linear-gradient(top, rgba(27,34,46,0.4) 0%, #1b222e 100%) !important;
    background: -ms-linear-gradient(top, rgba(27,34,46,0.4) 0%, #1b222e 100%) !important;
    background: linear-gradient(to bottom, rgba(27,34,46,0.4) 0%, #1b222e 100%) !important;
}

.game-data-container{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 1024px) {
    .details__buy, .details__favorite, .details__actions{
        width: 100%;
        margin-bottom: 15px;
    }
    .game-info-details {
        width: 100%;
    }
    .details__cart {
        height: 500px;
    }
    .game-data-container {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 415px) {
    .details__cart {
        height: 470px;
    }
}

@media (min-width: 768px) {
    .card__cover img {
        /*min-width: 240px;*/
        min-height: 340px;
        max-height: 340px;
    }
}

.card__cover img, .details__cover img {
    object-fit: cover;
}

@media (max-width: 800px) {
    .details {
        height: 900px;
    }
}
@media (max-width: 700px) {
    .details {
        height: 1570px;
    }
}
@media (max-width: 600px) {
    .details {
        height: 1750px;
    }
}
@media (max-width: 380px) {
    .card__cover img {
        min-height: 500px;
    }
    .card--catalog .card__title{
        /*margin-bottom: 20px;*/
    }
    .details {
        height: 1510px;
    }
    .profile__img img {
        width: auto;
    }
    .profile__img.table-cover {
        height: auto;
        width: 90%;
        margin-left: 10px;
    }
    .table-cover {
        max-height: none !important;
        min-height: unset !important;
    }
    table.dataTable>tbody>tr.child ul.dtr-details {
        /*margin-left: 3% !important;*/
        width: 100%;
    }
    .card__favorite {
        margin-top: 10px !important;
    }
}

table.dataTable>tbody>tr.child span.dtr-title{
    margin-right: 8%;
}

@media (min-width: 390px) and (max-width: 420px) {
    .profile__img img {
        width: auto;
    }
    .profile__img.table-cover {
        height: auto;
        width: 100%;
        /*margin-left: 10px;*/
    }
    .table-cover {
        max-height: none !important;
        min-height: unset !important;
    }
    table.dataTable>tbody>tr.child ul.dtr-details {
        /*margin-left: 3% !important;*/
        width: 100%;
    }
    .card__favorite {
        margin-top: 10px !important;
    }
}

@media (min-width: 430px) and (max-width: 770px) {
    .profile__img img {
        width: 150px;
    }
    .profile__img.table-cover {
        height: auto;
        width: 100%;
        /*margin-left: 10px;*/
    }
    .table-cover {
        max-height: none !important;
        min-height: unset !important;
    }
    table.dataTable>tbody>tr.child ul.dtr-details {
        /*margin-left: 5.2% !important;*/
        width: 100%;
    }
    .card__favorite {
        margin-top: 10px !important;
    }
}

@media (max-width: 360px) {
    .card__cover img {
        min-height: 250px;
    }
}

.web-score > a > span:nth-child(2):hover {
    color: #29b474 !important;
}

/* loader animation */
.spinner-border-body {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: rgb(0 0 0 / 58%);
    z-index: 2147483647;
    visibility: hidden;
}

.loader {
    border: 8px solid #20282c;
    border-top: 8px solid #a782e9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* loader end */

.card__title {
    background-color: #1f2534;
}

@media (min-width: 576px){
    .card--catalog .card__title {
        min-height: 80px;
    }
    .card--catalog .card__actions {
        min-height: 90px;
        max-height: 90px;
    }
}

.btn-delete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100% - 59px);
    height: 44px;
    border-radius: 6px;
    background-color: #333a4d;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 16px;
}
.btn-delete:hover {
    background-color: #b42929;
}

.btn-delete-static-wide{
    width: 100% !important;
    background-color: #b42929 !important;
    margin-bottom: 15px;
    margin-top: 15px;
}

.btn-edit-static-wide{
    margin: 8px 0;
}
.btn-edit-static-wide:hover {
    background-color: #353d52;
}
.btn-edit-static-wide.pressed, .btn-edit-static-wide.pressed svg, .btn-edit-static-wide.pressed g {
    background-color: #353d52;
    fill: #c64c3d;
    stroke: #c64c3d;
}

.pressed, .pressed svg, .pressed g {
    background-color: #353d52 !important;
    fill: #c64c3d !important;
    stroke: #c64c3d !important;
}

.btn-danger {
    background-color: #b42929 !important;
    border: none !important;
    margin: 15px;
}

@media (min-width: 360px) {
    .card--catalog .card__actions {
        /*padding: 0 15px 0;*/
        padding: 15px 15px 15px;
        position: unset;
        width: 100%;
        border-left: 1px solid #232a3d;
    }
    .card--catalog .card__title {
        width: 100%;
    }
}

.button-icon {
    padding-right: 15px;
}

/* jquery-confirm */
.jconfirm.jconfirm-black .jconfirm-bg, .jconfirm.jconfirm-dark .jconfirm-bg{
    background-color: black !important;
    opacity: .5 !important;
}

.jconfirm.jconfirm-black .jconfirm-box, .jconfirm.jconfirm-dark .jconfirm-box{
    background: #1b222e !important;
}

.jconfirm .jconfirm-box.jconfirm-type-purple{
    border-top: solid 7px #a782e9;
    -webkit-animation-name: type-purple;
}

.jconfirm .jconfirm-box div.jconfirm-title-c{
    /*padding-bottom: 20px !important;*/
    /*border-bottom: solid 1px #333a4d;*/
}

.jconfirm .jconfirm-box div.jconfirm-content-pane.no-scroll{
    /*padding-top: 20px;*/
}

.btn-dlg-confirm{
    background-color: #29b474;
    text-transform: capitalize !important;
    margin: 10px;
    min-width: 100px;
}
.btn-dlg-confirm:hover{
    background-color: #a782e9;
}

.btn-dlg-cancel{
    background-color: #333a4d;
    text-transform: capitalize !important;
    margin: 10px;
    min-width: 100px;
}
.btn-dlg-cancel:hover{
    background-color: #282e3d;
}

@media (min-width: 768px) {
    .jconfirm-title:before {
        top: 3px;
        bottom: 3px;
    }
}
.jconfirm-title:before {
    content: '';
    position: absolute;
    display: block;
    top: 2px;
    bottom: 2px;
    left: 0;
    width: 3px;
    background-color: #a782e9;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .jconfirm-title {
        font-size: 32px;
    }
}
@media (min-width: 576px) {
    .jconfirm-title {
        font-size: 30px;
    }
}
.jconfirm-title {
    color: #fff;
    font-weight: 400;
    font-size: 28px;
    line-height: 110%;
    margin-bottom: 0;
    position: relative;
    padding-left: 30px;
    font-family: 'Montserrat', sans-serif;
}
.jconfirm .jconfirm-box-container {
    min-width: 60%;
}
@media (min-width: 1030px) {
    .jconfirm .jconfirm-box-container {
        min-width: 40%;
    } 
}
.jconfirm .jconfirm-box.loading:before {
    background: #1b222e !important;
}

.details-beat-time {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}
.details-beat-time > a {
    color: #ab73c2;
    font-size: .7rem;
}

/* floating button */
.mfb-component__button--child, .mfb-component__button--main {
    background-color: #724db2 !important;
}
ul.mfb-component__list:hover > li > a {
    color: white !important;
}
.mfb-component__wrap:hover > a {
    color: white !important;
}

.center-form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
}
.width-50 {
    width: 50% !important;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
}
.grouped-inputs {
    background-color: #1b222e;
    border: 1px solid rgba(167,130,233,0.06);
    padding: 30px 20px 20px 20px;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.grouped-inputs > span {
    color: #fff;
    display: inline;
    position: absolute;
    top: 3px;
}
input.form__input.input-last {
    margin-bottom: 5px;
}
.form__btn {
    width: 100% !important;
}
.form-row.first-row {
    margin-top: 15px;
}
img.new-cover-box {
    width: 100%;
    margin-bottom: 20px;
    height: 500px;
    object-fit: cover;
}
.new-cover-box-upload-btn {
    bottom: 50px;
    position: absolute;
    left: 45px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 55px;
    border-radius: 6px;
    border: 1px solid rgba(167,130,233,0.4);
    background-color: rgba(167,130,233,0.15);
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #fff;
}
.new-cover-box-upload-btn:before {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    pointer-events: none;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 6px;
    background-color: #1b222e;
    opacity: 0.75;
    transition: 0.5s;
}
.new-cover-box-upload-btn svg {
    stroke: #a782e9;
    width: 22px;
    height: auto;
    margin-right: 15px;
    position: relative;
    z-index: 3;
    transition: 0.5s;
}
.new-cover-box-upload-btn:hover {
    border-color: rgba(167,130,233,0.6);
    background-color: rgba(167,130,233,0.3);
    color: #fff;
}
.new-cover-box-upload-btn:hover:before {
    opacity: 1;
}
.new-cover-box-upload-btn span {
    z-index: 3;
}

@media (max-width: 770px) {
    .form.form--contacts {
        padding: 0;
        margin-top: 0;
    }
    img.new-cover-box {
        height: 400px;
        object-fit: cover;
    }
    a.new-cover-box-upload-btn {
        bottom: -65px;
        left: 37px;
    }
}

@media (max-width: 420px) {
    .form.form--contacts {
        padding: 0;
        margin-top: 0;
    }
    img.new-cover-box {
        height: 95%;
        object-fit: cover;
    }
    a.new-cover-box-upload-btn {
        bottom: 50px;
        left: 40px;
    }
    div.cover-col {
        padding-right: 15px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1030px) {
    img.new-cover-box {
        height: 500px;
    }
    .new-cover-box-upload-btn {
        bottom: 45px;
        left: 45px;
    }
}

.sign__btn.clear-btn {
    background-color: rgba(167,130,233,0.03);
    border: 1px solid rgba(167,130,233,0.4);
}
.sign__btn.clear-btn:hover {
    background-color: rgb(167 130 233 / 50%);
}

.grouped-inputs.new-game {
    height: 87%;
}

.section--bg.darker:before {
    background: linear-gradient(to bottom, rgb(27 34 46 / 90%) 0%, #1b222e 100%);
}

.big-input {
    height: 60px;
    border-radius: 10px;
}

/* DataTable styling */
table.dataTable tbody tr {
    background-color: #1b222e !important;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #232839 !important;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #232839 !important;
}
.dataTables_wrapper .dataTables_length select {
    width: 90px;
    height: 44px;
    border-radius: 6px !important;
    border: 1px solid rgba(167,130,233,0.06) !important;
    font-size: 14px;
    color: #fff;
    padding: 0 20px !important;    
    cursor: pointer;
    background-color: rgba(167,130,233,0.03) !important;
    background: url(../img/arrow2.svg) no-repeat center right 20px;
    background-size: 12px auto;
    letter-spacing: 0.4px;
    margin-left: 10px;
    margin-right: 10px;
}
.dataTables_wrapper .dataTables_filter input {
    background-color: rgba(167,130,233,0.03) !important;
    border: 1px solid rgba(167,130,233,0.06) !important;
    border-radius: 6px !important;
    height: 44px;
    position: relative;
    color: #fff;
    font-size: 14px;
    width: 250px;
    padding: 0 20px !important;
    letter-spacing: 0.4px;
    margin-left: 10px !important;
}
div.dataTables_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(167,130,233,0.03);
    border: 1px solid rgba(167,130,233,0.06);
    height: 44px;
    padding: 0 20px !important;
    border-radius: 6px;
    font-size: 14px;
    color: #dbdada !important;
    margin-top: 25px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    background: #1f2534 !important;
    color: white !important;
    border-radius: 6px;
    border: 1px solid rgba(167,130,233,0.06) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover {
    color: #7c5db2 !important;
}
.dataTables_wrapper .dataTables_length select > option {
    background-color: #1f2534;
}
.profile__table th:last-child {
    padding: 10px 20px 10px !important;
}
.profile__table {
     min-width: 0 !important; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #a782e9cc !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: white !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.table-cover {
    min-height: 150px;
    max-height: 150px;
}
/****************/

.details__favorite g, .card__favorite g {
    fill: #a782e9;
    width: 22px;
    height: auto;
    transition: 0.5s;
    margin-right: 15px;
}
.details__favorite:hover g, .card__favorite:hover g {
    fill: #c64c3d;
}

.card.card--catalog > a > div.cover-pills {
    display: flex;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

.card.card--catalog > a > .cover-pills > .card__preorder.fav {
    /*background-color: #ba1c1c;*/
    /*position: initial;*/
    /*width: 70px;*/
    /*margin: 10px;*/
    background-color: #ba1c1c;
    border-radius: 0;
    width: 40%;
    position: absolute;
    transform: rotate(45deg);
    z-index: 3;
    bottom: 91%;
    left: 70%;
    height: 5.5%;
}

.card.card--catalog > a > .cover-pills > .played {
    background-color: #6a1e76bd;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    z-index: 2;
    pointer-events: none;
}

.details__cover > div.cover-pills {
    display: flex;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
}

.details__cover > .cover-pills > .card__preorder.fav {
    background-color: #ba1c1c;
    border-radius: 0;
    width: 40%;
    position: absolute;
    transform: rotate(45deg);
    z-index: 3;
    bottom: 91%;
    left: 70%;
    height: 5.5%;
}

.details__cover > .cover-pills > .played {
    background-color: #6a1e76bd;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    z-index: 2;
    pointer-events: none;    
    border-radius: 0;
}

.profile__table tbody tr:first-child td, .profile__table tbody tr:last-child td {
    padding: 8px 10px;
}

div.table-cover > a {
    border-bottom: 0;
}

.sign__form {
    box-shadow: 0px 0px 20px -10px #000000de;
}

.validation-summary-errors {
    font-size: 14px;
    color: #dbdada;
    background-color: #a52a2a80;
    border-radius: 5px;
    padding: 20px;
    line-height: 22px;
    width: 100%;
}

.validation-summary-errors.center {
    text-align: center;
}

label.error {
    color: #ff5a5adb;
    font-size: 15px;
    position: relative;
    top: -15px;
    margin-bottom: 0;
    /*margin-top: 5px;*/
}

.sign__group > label.error {
    color: #ff5a5adb;
    font-size: 15px;
    position: relative;
    margin-bottom: 5px;
    top: 5px;
}

.header__logo img {
    width: 70px !important;
}

.footer__wrap {
    justify-content: flex-end !important;
}

.form__input {
    margin-bottom: 20px !important;
}

.header-form-logo {
    width: auto;
    height: 70px;
    margin-bottom: 50px;
}

@media (min-width: 992px) {
    form.home-search > div > div.filter-query {
        width: 430px;
    }
}

.filter__select-wrap.filter__group--sort.filter-query {
    margin-right: 2% !important;
}

@media (max-width: 768px) {
    .filter__select-wrap {
        margin-bottom: 30px;
    }
}

@media (min-width: 1024px) {
    .catalog-search-filters {
        width: 200px;
    }
    .filter__group.btn {
        width: 200px;
        margin-left: auto;
    }
    .filter__select-wrap.filter__group--sort.btn {
        width: 120px;
    }
}

@media (max-width: 760px) {
    .account__delete {
        position: absolute;
        top: 5px;
        right: 60px;
        width: 44px !important;
    }
    .account__delete span {
        display: none;
    }
}

.account__delete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 44px;
    border-radius: 6px;
    color: #fff;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 12px;
    flex-wrap: wrap;
    align-content: center;
}

@media (min-width: 768px) {
    .account__delete svg {
        display: none;
    }
}

.account__delete svg {
    stroke: #fff;
    width: 22px;
    height: auto;
    transition: stroke 0.5s;
}

/* autocomplete tag input */
.amsify-suggestags-input-area .amsify-select-tag.col-bg {
    background: #9064a6 !important;
    color: white !important;
}

.amsify-suggestags-area .amsify-suggestags-input-area .amsify-suggestags-input {
    background: #1f2534;
    color: white !important;
}

.amsify-focus {
    border-color: #9964a699 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.amsify-suggestags-area .amsify-suggestags-list {    
    background: #1f2534 !important;
    border: 1px solid #9064a6 !important;
}

.amsify-suggestags-area .amsify-suggestags-list ul.amsify-list li.active {
    background: #1b222e !important;
}

li.amsify-list-item:active {
    background: #1b222e !important;
    color: white !important;
    -moz-box-shadow:    none !important;
    -webkit-box-shadow: none !important;
    box-shadow:         none !important;
}

.amsify-suggestags-area .amsify-suggestags-list {
    color: white !important;
}

/* filters */
button#filter-action {
    color: #a782e9;
    font-size: 13px;
}

button#filter-action:hover {
    color: #d75252;
}

.filter-btns {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 0;
    padding-right: 0;
}